.friend-request-container {
  position: relative;
  left: 14px;
  top: 12px;

  width: 121px;
  height: 264px;

  .friend-add-btn {
    width: 111px;
    height: 33px;
    font-family: "SUIT-family";
    font-size: 12px;
    font-weight: 400;

    border: 1px solid black;

    background-color: #ffc466;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 16px;
      margin-left: 8px;
    }
  }

  .close-add-btn {
    width: 111px;
    height: 25px;

    border: none;

    button {
      position: absolute;
      right: 10px;
      background-color: #ffc466;
      border: 1px solid black;
      width: 31px;
      height: 25px;
      border-bottom: none;
      svg {
        width: 9.5px;
        height: 9.5px;
        path {
          stroke-width: 10px;
        }
      }
    }
  }

  .friend-search-container {
    svg {
      cursor: pointer;
    }
  }
}
