.friend-container {
  position: absolute;
  background-color: #89c881;

  left: 19px;
  bottom: 17px;

  width: 149px;
  height: 424px;

  border: 1px solid;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  * {
    font-family: "SUIT";
  }

  h1 {
    position: relative;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 121px;
    height: 46px;

    margin: 0;

    color: white;
    font-size: 32px;
    font-weight: 400;
    font-family: "DarumadropOne-Regular";
  }

  .friend-option-container {
    position: relative;

    display: flex;

    margin-top: 12px;

    left: 14px;
    width: 121px;

    button {
      display: flex;
      justify-content: center;

      width: 55px;
      height: 30px;
      padding: 6px 14px 5px 14px;

      border: 1px solid black;
      font-size: 12px;
      font-weight: 400;
      font-family: "YoonChild";
      white-space: nowrap;
      background-color: #f2f3f6;
      color: #999;
      &.active {
        background-color: #d3f16f;
        color: #000;
      }
    }

    .friend-request-btn {
      border-left: none;
    }
  }

  .friend-search-container {
    position: relative;
    display: flex;
    align-items: center;

    width: 111px;
    height: 22px;

    border: 1px solid black;
    background-color: white;

    .friend-search-form {
      flex: 1;
      width: 60px;
      border: none;

      padding-left: 5.5px;
      margin-left: 2px;

      font-size: 12px;

      &:focus {
        outline: none;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 7.5px;
      cursor: pointer;
    }
  }

  .friend-list-container {
    position: relative;
    left: 14px;
    top: 12px;

    width: 121px;
    height: 264px;

    &::after {
      bottom: 0;
    }
  }
}
