.default-toast {
  display: flex;
  flex-direction: column;
  background-color: #FFC466;
  border: 1px solid #000;
  border-radius: 12px;
  width: 258px;
  height: 60px;
  justify-content: center;
  text-align: center;
}