.toast-backdrop-default {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1010px;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;

  pointer-events: none;
}

.toast-backdrop-default>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-backdrop-game {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1010px;
  height: 600px;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;

  // pointer-events: none;
}