// 회원가입 폼
.sign-up-form-container {
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 288px;
	gap: 38px;

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 6px;

		label {
			font-size: 12px;
			font-weight: 500;
			margin-left: 8px;
		}

		input {
			border: solid 0.9px black;
			border-radius: 8px;
			height: 36px;
			padding-left: 9.87px;
			font-size: 12px;
		}

		input::placeholder {
			color: rgba(153, 153, 153, 1);
		}

		.input-with-button {
			display: flex;
			gap: 11px;

			input {
				flex: 1;
			}

			button {
				border: 1.5px solid black;
				border-radius: 10px;
				width: 108px;
				height: 36px;
				font-size: 14px;
				font-weight: 500;
				padding: 0;
				cursor: pointer;
			}

			.check-nickname-btn {
				background-color: #f4ec6f;
			}

			.request-code-btn {
				background-color: #89c881;
			}

			.verify-code-btn {
				background-color: #999999;
			}
		}
	}

	.sign-up-btn {
		width: 288px;
		height: 35px;
		background-color: #d3f16f;
		border: solid 0.9px black;
		border-radius: 8px;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		margin-top: 8px;
	}

	.sign-up-error-message {
		position: absolute;
		margin-left: 4.98px;
		height: 15px;
		font-size: 12px;
		color: #e90c0c;
	}
}
