.profile-container {
  position: relative;
  width: 255px;
  height: 122px;

  background-color: white;
  border: solid 1px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .exp-container {
    position: relative;

    width: 224px;
    background-color: #f2f3f6;
    border: solid 1px;
    border-radius: 54px;

    margin: 14px 16px 9px 15px;
    .exp {
      position: relative;
      background-color: #ffda37;

      border-right: solid 1px;
      border-radius: 54px;

      font-size: 13px;
      display: flex;
      justify-content: center;
    }
  }

  .profile-user-info-container {
    position: relative;
    display: flex;
    width: 216px;

    .profile-img-container {
      width: 67px;
      height: 67px;
      border: solid 1px;
      background-color: #d9d9d9;
      img {
        width: 67px;
        height: 67px;
      }
    }

    .profile-detail-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      .profile-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 92px;
        gap: 8px;

        .ranking-container {
          position: relative;
          display: flex;
          justify-content: center;
          width: 72px;
          height: 15px;

          background-color: #ffda37;

          span {
            display: flex;
            align-items: center;
            font-size: 15px;
          }
          .left-strip {
            position: absolute;
            left: 0;
            width: 10px;
            height: 15px;
            background-color: #ffba0c;
          }
        }
      }
    }
  }
}
