@font-face {
  font-family: 'SUIT-Regular';
  src: url('/assets/fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'YoonChild';
  src: url('/assets/fonts/YoonChildfundkoreaDaeHan.ttf') format('truetype');
}
