@font-face {
  font-family: "SUIT-Regular";
  src: url("/assets/fonts/SUIT-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "YoonChild";
  src: url("/assets/fonts/YoonChildfundkoreaDaeHan.ttf") format("truetype");
}

@font-face {
  font-family: "WalterTurncoat";
  src: url("/assets/fonts/WalterTurncoat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "YoonChild-ManSeh";
  src: url("/assets/fonts/YoonChildfundkoreaManSeh.ttf") format("truetype");
}

@font-face {
  font-family: "YoonChild-MinGuk";
  src: url("/assets/fonts/YoonChildfundkoreaMinGuk.ttf") format("truetype");
}
