.custom-checkbox-wrapper {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 3.69px;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 13px;
    height: 13px;
    margin: 0;
    z-index: 2;
    cursor: pointer;
  }

  .custom-checkbox {
    width: 13px;
    height: 13px;
    border-radius: 4px;
    border: 1.05px solid #999;
    background-color: white;
    position: relative;
    z-index: 1;

    .check-icon {
      display: none;
      position: absolute;
      top: 2px;
      left: 1px;
      width: 9px;
      height: 8px;
      pointer-events: none;
    }
  }

  input[type="checkbox"]:checked+.custom-checkbox {
    border-color: #000;

    .check-icon {
      display: block;
    }
  }

  .checkbox-label {
    font-size: 12px;
  }

  input[type="checkbox"]:focus+.custom-checkbox {
    outline: 2px solid black;
    outline-offset: 2px;
  }
}