.game1-lobby-container {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 361px;
  margin-left: 35px;
  margin-top: 17px;

  .game1-filter-header {
    display: flex;
    justify-content: end;
    gap: 25.28px;
    margin-bottom: 11px;

    .filter-title {
      font-family: YoonChild;
      font-size: 12px;
    }
  }

  .room-table-container {
    height: 262px;

    .room-table {
      position: relative;
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed; // 열 너비 고정
      font-family: SUIT-Regular;
      font-size: 12px;

      .empty-room-cell {
        padding-top: 60px;
        border-bottom: none;
        cursor: default;
        pointer-events: none;
      }

      // 열 고정 너비
      th,
      td {
        height: 39px;
        border-bottom: 1px solid black;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      th:nth-child(1),
      td:nth-child(1) {
        text-indent: 15px;
        width: 40px; // 🔒 아이콘
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 70px; // 모드
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 64px; // 모집자
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 220px; // 소개말
      }

      th:nth-child(5),
      td:nth-child(5) {
        width: 50px; // 코드
      }

      th:nth-child(6),
      td:nth-child(6) {
        width: 40px; // 인원
      }

      thead {
        background-color: #f2f3f6;

        th {
          height: 21px;
          border-top: 1px solid black;
          font-size: 12px;
          color: #999999;
          font-weight: normal;
        }
      }

      tbody tr:hover {
        background-color: #f1f1f1;

        &.empty-row:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }

  .page-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31.68px;

    .pagination {
      display: flex;
      font-size: 16px;
      margin-left: 23px;
      align-items: center;
      font-family: YoonChild;

      span {
        min-width: 18.64px;
        text-align: center;
      }
    }

    .room-actions {
      display: flex;
      gap: 8px;

      .action-btn {
        width: 100px;
        height: 40px;
        font-size: 16px;
        background-color: white;
        border: 1px solid black;
        font-family: YoonChild;

        &:hover {
          background-color: #e4e4e4;
        }
      }
    }
  }
}