.lobby-page-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 1010px;
  height: 600px;

  // 하늘색 배경
  background: linear-gradient(
    rgba(170, 232, 255, 1) 0%,
    rgba(255, 255, 255, 1) 34%
  );
}
