.game-page-container {
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 1010px;
  height: 600px;

  background: linear-gradient(
    rgba(170, 232, 255, 1) 0%,
    rgba(255, 255, 255, 1) 34%
  );
  z-index: 100;

  .game-scene {
    position: relative;
    width: 100%;
    height: 100%;
    //background-color: rgb(227, 227, 248);
  }
}
