.game1-header-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 18px;
  top: 15px;

  width: auto;
  height: 51px;
  gap: 4px;

  .round-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 56px;
    height: 51px;

    &.active {
      border: 2px solid black;
      border-radius: 12px;
      background-color: #fbffec;
    }

    .round-result-container {
      display: flex;
      gap: 14.2px;
      margin-top: 4px;

      .round-a,
      .round-b {
        width: 14px;
        height: 14px;

        background-color: #999999;
        border-radius: 14px;

        &.win {
          background-color: #89c881;
        }

        &.lose {
          background-color: #f6aa30;
        }
      }
    }
  }

  .logo-img {
    position: absolute;

    top: 14px;
    left: 374px;
    right: 373.1px;

    width: 262.9px;
    height: 73.61px;
  }

  font-size: 12px;
  font-weight: 400;
  font-family: "YoonChild";
}
